<div class="content">
  <div class="settings-form">
    <div class="form-group">
      <label for="serverStartProperties">Server Start Properties</label>
      <input type="text" id="serverStartProperties" [(ngModel)]="serverStartProperties" class="form-input">
    </div>

    <div class="form-group">
      <label for="serverPath">Server Path</label>
      <input type="text" id="serverPath" [(ngModel)]="serverPath" class="form-input">
    </div>

    <div class="form-group">
      <label for="javaPath">Java Path</label>
      <input type="text" id="javaPath" [(ngModel)]="javaPath" [disabled]="!customJavaPath" class="form-input">
    </div>

    <div class="form-group checkbox-group">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="customJavaPath">
        <span class="slider"></span>
      </label>
      <span class="checkbox-label">Custom Java Path</span>
    </div>

    <button class="save-button" (click)="saveSettings()">Save Configuration</button>
  </div>
</div>
